# Python Basics

**What is Python?**

Python is a high-level, general-purpose programming language known for being simple, readable, and powerful.

**Key features:**

-Easy to read and write

-Interpreted language (runs line-by-line)

-Portable (runs on Windows, Mac, Linux)

-Object-oriented, functional & procedural support

-Large community and libraries

-Used in web development, AI, machine learning, automation, data science, gaming, etc.

**Why Use Python?**

Python is popular because:

You can do a lot with very little code

**Huge library support:**

NumPy, Pandas, Matplotlib → Data Science

TensorFlow, PyTorch → AI/ML

Django, Flask → Web development

Selenium → Automation

Great for beginners and professionals

In [ ]:
**Who Developed Python?**

-Python was developed by Guido van Rossum, a Dutch programmer.

-Work started in 1989 at the Centrum Wiskunde & Informatica (CWI) in the Netherlands.

-The first public release (Python 0.9.0) was in 1991.

-Guido is often called Python’s “Benevolent Dictator For Life (BDFL)”, a title he held until 2018.

**Limitations of Python**
-Slow execution

-High memory use

-Not good for mobile apps

-Weak in browser environment

-Runtime type errors

-GIL limits multithreading

-Not best for embedded systems

In [ ]:
# Variables and Data Types

**What is a Variable?**

A variable is a container used to store data in memory. Python variables are dynamically typed, meaning their data type is decided automatically.

**Rules for Creating Variables:-**

1. Variable names must start with a letter or underscore: ex: name, _value, age1

2. Spaces are not allowed → ex:-my var = 5 

3. Special characters are not allowed → ex:-my@var 

4. Case‑sensitive → Name and name are different variables

**Data Types in Python Variables**

Common Python data types:

-int

-float

-string

-boolean

-list

-tuple

-dict

-set

In [2]:
name="Alice"   #string
age=12         #int
height=1.55
print(name)
print(age)
print(height)

Alice
12
1.55

In [3]:
favorite_colour="black"
lucky_number=5
is_student=True
print(favorite_colour)
print(lucky_number)
print(is_student)

black
5
True

In [9]:
age=12 #int
age=age+1
print(age)

13

In [10]:
score=10
score=score+1
print(score)

11

In [12]:
name="Alice"
age=12
print("My name is",name,"and i am",age,"years old","my favorite colour is",colour)

My name is Alice and i am 12 years old my favorite colour is black

In [13]:
city="Varanasi"
print(city)

Varanasi

In [16]:
color="black"
color="white"
print(color)

white

In [17]:
x=5
y=3
sum=x+y
print(sum)

8

In [18]:
a=10
b=2
result=a*b
print(result)

20

In [19]:
x=8
x=x+4
print(x)

12

In [20]:
num=20
num=num/2
print(num)

10.0

In [4]:
#Multiple variable
a, b, c = 10, 20, 30
x = y = z = "Hello"

In [5]:
#checking variable datatype
x = 10
print(type(x))

<class 'int'>

In [6]:
var=20
var #calling a variable
print(var) #to print the value of variable

20

In [7]:
#multi line statement
p1=20+30\
+48+50\
+70+80
p1

298

In [8]:
#single line comment
'''this
is multi line 
comment'''
"""this 
is multi line 
comment"""

'this \nis multi line \ncomment'

# Data Types

**What is a Data Type?**

A data type defines the kind of data a variable can store and what operations can be performed on it.

Categories of Data Types:-

**1. Primitive Data Types**

**2. Non‑Primitive (Reference) Data Types**

**Primitive Data Types**

1. **Integer (int)**

Integers are whole numbers without decimals.
They can be positive, negative, or zero.

In [21]:
x = 10
y = -5
z = 0
print(type(x))   # <class 'int'>

<class 'int'>

Enter a number:  48

Even number

In [127]:
x = 5
y = 10

x, y = y, x
print("x =", x, "y =", y)

x = 10 y = 5

2. **Float (float)**

Float means decimal numbers.

In [18]:
pi = 3.14
marks = 89.5
print(type(pi))   # <class 'float'>

<class 'float'>

In [128]:
x = 5.6
y = 8.34
print("Sum =", x + y)

Sum = 13.94

In [129]:
r = 4.5
pi = 3.14159
area = pi * r * r
print("Area of circle =", area)

Area of circle = 63.6171975

3. **Boolean (bool)**

Boolean represents True or False values.

In [19]:
is_active = True
is_login = False
print(type(is_active))   # <class 'bool'>

<class 'bool'>

In [130]:
age = 20
is_adult = age > 18
print("Adult:", is_adult)

Adult: True

4. **String (str)**

Strings represent text, enclosed in single ' ' or double " " quotes.

In [22]:
name = "Rahul"
msg = 'Hello World'
print(type(name))   # <class 'str'>

<class 'str'>

In [133]:
text = "Data Types"
print("Length =", len(text))

Length = 10

In [11]:
#string creation
str="python"
print(str)

python

In [16]:
#string indexing
print(str[0])
print(str[-1])

p
n

In [23]:
first_name="Luna"  #string creation
last_name="sky"
full_name=first_name+" "+last_name
print(full_name)

Luna sky

In [24]:
is_raining=False    #by using boolean
is_sunny=True
print(is_raining)

False

In [25]:
is_happy=False
print(is_happy)

False

In [24]:
#string concatenation
s1="DATA"
s2="SCIENCE"
s3=s1+s2
print(s3)
print(s1+" "+s2)

DATASCIENCE
DATA SCIENCE

In [25]:
#string membership
str="HELLO PYTHON"
print("HELLO" in str)
print("science" in str)

True
False

In [26]:
#string partitioning
string="This is separator of the line"
print(string.partition("separator"))

('This is ', 'separator', ' of the line')

In [27]:
#string slicing
str1="HELLO PYTHON"
print(str1[0:4])
print(str1[6:])
print(str1[-6:])

HELL
PYTHON
PYTHON

In [2]:
robot_name="Sofia"
loves_coding=True
print("The robot's name is " + robot_name + " and it is "+ str(loves_coding) + " that he loves coding. ")

The robot's name is Sofia and it is True that he loves coding.

In [3]:
height=1.75
weight=65.5
bmi=weight/(height*height)
print(bmi)

21.387755102040817