In [ ]:
# List & Tuple

# LIST

A list is an ordered, changeable (mutable) collection of items.

Written using square brackets [ ].

**Characteristics:**

-Mutable → elements can be added, removed, or changed

-Allows duplicates

-Supports different data types

-Ordered (index starts from 0)

# Common List Methods

append() – add at end

insert() – add at specific index

remove() – remove by value

pop() – remove by index

sort() – sort list

reverse() – reverse list

extend() – add another list

count() – count occurrences

index() – find index

# List Operations

Concatenation: list1 + list2

Repetition: list1 * 3

Membership: "a" in lst

# Mutability

Lists can be modified.

**Use List when:**

-You need to modify data

-Add or delete items frequently

In [ ]:
l=[]
type(l)

In [ ]:
fruits=["apple","banana","mango"]
print(fruits[0])
fruits.append("grapes")
fruits.remove("banana")
print(fruits)

In [ ]:
#Indexing
print(fruits[2])

In [ ]:
#Slicing
print(fruits[0:2])

In [ ]:
#ADD
fruits.append("cherry")
print(fruits)

In [ ]:
#Remove
fruits.remove("grapes")
print(fruits)

In [ ]:
#Change
fruits[0]="pineapple"
print(fruits)

In [ ]:
#Join
movies1=["kantara","pk","omg"]
movies2=["end of the earth","spiderman","the anaconda"]
print(movies1+movies2)

In [ ]:
#reverse and Sort
num=[3,6,9,1]
num.sort()
print(num)
num.reverse()
print(num)

In [ ]:
#All()/Any()
print(all([True,True,False]))
print(any([False,False,True]))

In [1]:
my_list = [10, 20, 30, 40]
print(my_list[0])
print(my_list[-1])

10
40

In [2]:
items = ["apple", "mango", "grape"]
items.insert(2, "banana")
print(items)

['apple', 'mango', 'banana', 'grape']

In [3]:
numbers = [1,2,3,4,5]
print(len(numbers))

5

In [4]:
items = ["apple", "banana", "cherry"]
items.remove("apple")
print(items)

['banana', 'cherry']

In [5]:
nums = [5,2,9,1]
print(sorted(nums))      # ascending
print(sorted(nums, reverse=True))  # descending

[1, 2, 5, 9]
[9, 5, 2, 1]

In [6]:
lst = [1,2,3,4]
rev = lst[::-1]
print(rev)

[4, 3, 2, 1]

In [7]:
nums = [4,8,2,1,9]
print(max(nums))
print(min(nums))

9
1

In [8]:
lst = []
for i in range(5):
    item = input("Enter value: ")
    lst.append(item)
print(lst)

Enter value:  4
Enter value:  2
Enter value:  2
Enter value:  1
Enter value:  0

['4', '2', '2', '1', '0']

In [9]:
squares = [i*i for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
lst = ["apple", "banana", "cat"]
upper = [x.upper() for x in lst]
print(upper)

['APPLE', 'BANANA', 'CAT']

In [11]:
nested = [[1,2],[3,4],[5,6]]
flat = [num for sub in nested for num in sub]
print(flat)

[1, 2, 3, 4, 5, 6]

In [12]:
odds = [i for i in range(1,101) if i % 2 != 0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [13]:
nums = [10,55,32,90,47,70]
new_list = [x for x in nums if x > 50]
print(new_list)

[55, 90, 70]

In [14]:
lst = [1,2,3,4,5]
last = lst.pop()
lst.insert(0, last)
print(lst)

[5, 1, 2, 3, 4]

# TUPLE

A tuple is an ordered, unchangeable (immutable) collection of items.

Written using parentheses ( ).

# Characteristics

Immutable → cannot change elements after creation

Faster than lists

Allows duplicates

Can contain different data types

Can be used as dictionary keys

# Tuple Functions

count() – count occurrences

index() – find index

len() – number of elements

max() / min() – largest & smallest

# Tuple Operations

Concatenation: (1,2) + (3,4)

Repetition: (5,) * 3

Membership: 10 in t

# Immutability

Tuple cannot be modified.

**Use Tuple when:**

-Data should NOT change

-Faster performance needed

-Use as dictionary keys

In [ ]:
tup1=()
type(tup1)

In [ ]:
tup2=(10,24,30,5,7) #tuple of numbers or integer
tup3=(2.0,4.7,7.8,78.6) #tuple of float
tup4=('marvel','DCEU','disney') #tuple of strings
tup5=(37,3.76,'Data') #tuple of mixed datatype
tup6=(1,3,(12,34,57,),(10,20,4.0),('Alpha','Beta','Charlie'))

In [ ]:
#Indexing
tup2[1]

In [ ]:
print(tup6[4][0])
print(tup4[0])

In [ ]:
#Slicing
print(tup2[2:])

In [ ]:
tup6=('mon','tue','wed','thur','fri','sat','sun')
print(tup6[5:]) #weekend slicing

In [ ]:
#Count Method
tup9=('one','one','two','three','four','two','two')
tup9.count('one')
tup9.index('two') #if we have more than times of index no. it will consider only first index no.

In [ ]:
#Membership
print('three' in tup9)
print('five' in tup9)

In [ ]:
#Sorting
tup10=(8,7,8,3,2,6,2,1,4)
print(sorted(tup10))
print(sorted(tup10,reverse=True)) #by false it will give assending order of tuple,by default.

In [15]:
t = (5, 10, 15, 20)
print(t[0])     # first
print(t[-1])    # last

5
20

In [16]:
t = ("apple", "banana", "mango")
print("banana" in t)

True

In [17]:
lst = [1, 2, 3]
t = tuple(lst)
print(t)

(1, 2, 3)

In [18]:
t = (10, 20, 10, 30, 10)
print(t.count(10))

3

In [19]:
t = (1,2,3,4,5,6)
print(t[2:5])    # (3,4,5)

(3, 4, 5)

In [20]:
t = (10, 20, 30)
a, b, c = t
print(a, b, c)

10 20 30

In [21]:
t = (1, 2, (3, 4, 5))
print(t[2][1])   # 4

4

In [22]:
t = (5, 10, 2, 8)
print(max(t))
print(min(t))

10
2

In [23]:
t1 = (1,2,3)
t2 = (1,2,3)
print(t1 == t2)

True

In [24]:
t = ('P', 'Y', 'T', 'H', 'O', 'N')
s = ''.join(t)
print(s)

PYTHON

In [25]:
t = (10,20,30,40)
lst = list(t)
lst.remove(30)
t = tuple(lst)
print(t)

(10, 20, 40)

In [26]:
t = tuple(i*i for i in range(1,11))
print(t)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [27]:
t = (1,2,3,2,4,1,5)
duplicates = [x for x in t if t.count(x) > 1]
print(set(duplicates))

{1, 2}