# SET AND DICTIONARY

# SET

Unordered,Mutable,No duplicates.

# Characteristics

-No duplicates allowed

-Unordered → no indexing

-Mutable → can add or remove items

-Elements must be immutable (numbers, strings, tuples)

**Common Set Methods**

add() → add single element

update() → add multiple elements

remove() → remove element (error if not found)

discard() → remove element (no error)

pop() → removes random element

clear() → empty the set

# When to Use Sets

-To remove duplicates

-For fast membership checking

-To perform math-like set operations

In [1]:
myset=set()
type(myset)

set

In [2]:
set1={1,1,2,2,3,3,4,4,5,5}
print(set1) #not gives duplication

{1, 2, 3, 4, 5}

In [3]:
set3={"Dark","Alice in Borderland","wednesday","Stranger things"} #sets of strings
set4={3,4.0,'Magic'} #set of mixed datatype

In [4]:
#Membership
print("Dark" in set3)
print("breaking bad" in set3)

True
False

In [5]:
set5={3,4,7,8,6}
set5.update(['ironman','batman','spiderman',17])
set5

{17, 3, 4, 6, 7, 8, 'batman', 'ironman', 'spiderman'}

In [6]:
set5.discard(6)
print(set5)

{3, 4, 'ironman', 7, 8, 17, 'batman', 'spiderman'}

In [7]:
set6={1,2,3,8,4,7}
print(set6.clear()) #All items will be deleted from set6

None

In [8]:
s={1,2,3,3}
print(s)    #{1,2,3}
s.add(4)
s.remove(2)
print(s)

{1, 2, 3}
{1, 3, 4}

# Set Operator

Set operators help in mathematical set operations like union, intersection, difference, symmetric difference, etc.

In [9]:
A={1,2,3,4,7,8,5,5,8,9,7}
B={4,5,2,3,5,8,7,2}
C={9,6,5,4,4}

1. **Union Operator ( A|B)**

Combines elements from both sets without duplicates.

In [11]:
A.union(B) #All elements of A & 
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)           # Using operator
print(a.union(b))      # Using function

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

2. **Intersection Operator ( A&B)**

Returns only the elements that exist in both sets.

In [15]:
A.intersection(B) #Common elements of A & B

{2, 3, 4, 5, 7, 8}

In [36]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)
print(a.intersection(b))

{3}
{3}

In [37]:
print(a & b)               # {3}
print(a.intersection(b))

{3}
{3}

4. **Symmetric Difference ( A ^ B )**

Returns all elements that are not common in both sets.

In [17]:
print(A ^ B)   # {1, 2, 4, 5}

{1, 9}

In [18]:
A.difference(B) #A-B means every elements of A will be considered and B , common element will not be considered.

{1, 9}

In [40]:
a = {1, 2, 3, 4}
b = {3, 4}
print(a - b)
print(a.difference(b))

{1, 2}
{1, 2}

In [41]:
print(a ^ b)               # {1,2,4,5}
print(a.symmetric_difference(b))

{1, 2}
{1, 2}

In [42]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a ^ b)
print(a.symmetric_difference(b))

{1, 2, 4, 5}
{1, 2, 4, 5}

In [43]:
a = {1, 2}
b = {2, 3}
a |= b
print(a)         # {1,2,3}

{1, 2, 3}

In [44]:
a = {1,2,3}
b = {2,3,4}
a &= b
print(a)         # {2,3}

{2, 3}

In [45]:
a = {1,2,3,4}
b = {3,4}
a -= b
print(a)         # {1,2}

{1, 2}

In [46]:
s = {10, 20, 30}  #loops in set
print(20 in s)
print(40 not in s)

True
True

In [47]:
s = {"apple", "banana", "mango"}
for i in s:
    print(i)

apple
mango
banana

In [48]:
lst = [1,2,2,3,3,4]
unique = set(lst)
print(unique)

{1, 2, 3, 4}

In [49]:
a = {1,2}
b = {1,2,3,4}
print(a.issubset(b))

True

In [50]:
s = {1,2,3,4,5,6}
s = {x for x in s if x % 2 != 0}
print(s)

{1, 3, 5}

In [51]:
a = {10,20,30}
b = {20,30,40}
print(len(a & b))  #length

2

# DICTIONARY

key-Value pairs,Mutable,No duplicate key.

# Characteristics

-Keys must be unique

-Keys must be immutable (int, str, tuple)

-Values can be any type

-Order preserved (Python 3.7+)

**Useful Dictionary Methods**

keys() – returns all keys

values() – returns all values

items() – returns key-value pairs

update() – add/modify multiple items

# When to Use Dictionary

-When you need key-value relationship

-Fast lookup, insert, modify operations

-Storing structured data (records)

In [19]:
d={}
type(d)

dict

In [20]:
d1={1:'python',2:'JAVA',3:'C++'}
print(d1)

{1: 'python', 2: 'JAVA', 3: 'C++'}

In [21]:
print(d1.keys())
print(d1.values())

dict_keys([1, 2, 3])
dict_values(['python', 'JAVA', 'C++'])

In [22]:
d1.items() #to extract all the key-values from it

dict_items([(1, 'python'), (2, 'JAVA'), (3, 'C++')])

In [23]:
student={"name": "Amit", "age":20,"city": "Delhi"}
print(student["name"])
student["age"]=21
student["course"]="pyhton"
print(student)

Amit
{'name': 'Amit', 'age': 21, 'city': 'Delhi', 'course': 'pyhton'}

In [24]:
#Indexing
d2={1:'one',2:'two','A':['Alice','John','Maria']} #must be in single inverted comma
d2['A'][0]

'Alice'

In [25]:
#Nested Dictionary
d3={0:{'one':1,'two':2,'three':3},1:{'city':'brngaluru','area':'kudlu'},'three':{'city':'Mumbai','area':'Bandra'}}
d3['three']['area']

'Bandra'

In [26]:
#Update
d4={'Name':'John','ID':1234,'Address':'Bengaluru'}
d4.update({'area':'kudlu'})
d4

{'Name': 'John', 'ID': 1234, 'Address': 'Bengaluru', 'area': 'kudlu'}

In [27]:
d4['city']='Hyderabad' #replace
d4

{'Name': 'John',
 'ID': 1234,
 'Address': 'Bengaluru',
 'area': 'kudlu',
 'city': 'Hyderabad'}

In [28]:
d4.pop('ID') #to delete we can use pop function

1234

In [29]:
d4

{'Name': 'John', 'Address': 'Bengaluru', 'area': 'kudlu', 'city': 'Hyderabad'}

In [30]:
del d4['area'] #also can use delete

In [31]:
d4.clear() #to clear everything
d4

{}

In [32]:
x=None     #NONE TYPE
print(type(x))

<class 'NoneType'>

In [33]:
# Perform operations on complex number
z1=3+4j
z2=1+2j
print("Addition:",z1+z2)
print("Subtraction:",z1-z2)
print("Multiplication:",z1*z2)
print("Division:",z1/z2)

Addition: (4+6j)
Subtraction: (2+2j)
Multiplication: (-5+10j)
Division: (2.2-0.4j)

In [34]:
# two numbers and check which is greater using boolean
a=24
b=7
print(a>b)
print(a<b)
print(a==b)

True
False
False

In [52]:
car = {"brand": "Toyota", "year": 2017}
car["year"] = 2024
print(car)

{'brand': 'Toyota', 'year': 2024}

In [53]:
d = {"a": 1, "b": 2, "c": 3}
for key in d:
    print(key)

a
b
c

In [54]:
d = {"a":1, "b":2, "c":3}
print(d.keys())
print(d.values())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [55]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
keys = ["name", "age", "city"]
values = ["John", 23, "Mumbai"]

d = dict(zip(keys, values))
print(d)

{'name': 'John', 'age': 23, 'city': 'Mumbai'}

In [57]:
lst = [1,2,2,3,3,3]
freq = {}

for num in lst:
    freq[num] = freq.get(num, 0) + 1

print(freq)

{1: 1, 2: 2, 3: 3}

In [58]:
student = {
    "name": "Ravi",
    "marks": {"math": 90, "science": 85}
}
print(student["marks"]["science"])

85

In [59]:
squares = {x: x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [60]:
d = {1: 10, 2: 15, 3: 20, 4: 25}
new_d = {k:v for k,v in d.items() if v % 2 != 0}
print(new_d)

{2: 15, 4: 25}

In [61]:
d = {"a": 10, "b": 50, "c": 30}
print(max(d.values()))

50

In [62]:
d = {"a": 1, "b": 2, "c": 3}
swapped = {v:k for k,v in d.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [63]:
text = "apple banana apple mango banana apple"
words = text.split()

count = {}
for w in words:
    count[w] = count.get(w, 0) + 1

print(count)

{'apple': 3, 'banana': 2, 'mango': 1}