# LOOPS

Loops allow you to execute a block of code repeatedly until a condition is satisfied.
They are essential for automation, iteration, and reducing code repetition.

**What is a Loop?**

A loop is a control structure that repeats a set of instructions.

**Why use loops?**

-To avoid writing repeated code

-To iterate through lists, strings, dictionaries

-To perform tasks until a condition is met

-To automate repetitive tasks

# Real-World Applications of Loops

-Reading files line by line

-Processing records from a database

-Creating patterns and shapes

-Repeating menu options in applications

-Data cleaning in Python

-Machine Learning datasets looping

# Types of Loops

Most programming languages have two primary types of loops:

# FOR LOOP

Used when the number of iterations is known.

In [ ]:
##General Syntax (Python):
for variable in sequence:
    # code block

In [2]:
#Using range():
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
#Range Variations:
range(stop)
range(start, stop)
range(start, stop, step)

In [4]:
for i in range(1, 11):
    print(i)          # 1 to 10

for i in range(10, 0, -1):
    print(i)          # reverse loop

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

# WHILE LOOP

Used when the number of iterations is unknown but depends on a condition.

In [ ]:
##Syntax
while condition:
    # code block

In [6]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**Loop Flow Control Statements**

These statements modify the normal flow of loops.

# break Statement

Stops the loop immediately.

In [7]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

# continue Statement

Skips the current iteration and moves to the next.

In [8]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

# pass Statement

A placeholder â€” does nothing.
    
Used when the code block must be syntactically present.

In [9]:
for i in range(3):
    pass

# Loop Else Block

Python allows an optional else block with loops.

**The else executes when:**

-the loop finishes normally

-NOT executed when the loop exits using break

In [10]:
for i in range(5):
    print(i)
else:
    print("Loop completed")

0
1
2
3
4
Loop completed

In [11]:
i=1
while i<=100:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
i=100
while i>=1:
    print(i)
    i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [13]:
i=1
while i<=10:
    print(3*i)
    i=i+1

3
6
9
12
15
18
21
24
27
30

In [17]:
n=int(input("Enter a number"))
i=1
while i<=10:
    print(n*i)
    i=i+1

Enter a number 88

88
176
264
352
440
528
616
704
792
880

In [18]:
#Nested loop
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [19]:
 for i in range(5):
    for j in range(i + 1):
        print("*", end="")
    print()

*
**
***
****
*****

In [20]:
fruits = ["apple", "banana", "mango"]
for f in fruits:
    print(f)

apple
banana
mango

In [21]:
for ch in "HELLO":
    print(ch)

H
E
L
L
O

In [22]:
nums = [2, 4, 6, 8]
x = 6

for i in nums:
    if i == x:
        print("Found")
        break

Found

In [23]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
n = int(input("Enter number: "))
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter number:  8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [26]:
num = 12345
count = 0

while num > 0:
    count += 1
    num //= 10

print("Total digits =", count)

Total digits = 5

In [27]:
num = 1234
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Reversed number: 4321

In [28]:
text = "KAMANA"
for ch in text:
    print(ch)

K
A
M
A
N
A

In [31]:
n = int(input("Enter number: "))
flag = True

for i in range(2, n):
    if n % i == 0:
        flag = False
        break

if flag:
    print("Prime")
else:
    print("Not Prime")

Enter number:  8

Not Prime

In [32]:
num = 567
total = 0

while num > 0:
    total += num % 10
    num //= 10

print(total)

18

In [33]:
n = 5
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial =", fact)

Factorial = 120

In [34]:
n = 10
a, b = 0, 1

for _ in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [35]:
numbers = [10, 45, 22, 67, 3]
largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest =", largest)

Largest = 67

In [36]:
text = "I love Python"
vowels = "aeiouAEIOU"
count = 0

for ch in text:
    if ch in vowels:
        count += 1

print("Total vowels:", count)

Total vowels: 4

In [37]:
nums = [1, 2, 3, 4, 5, 6]

for n in nums:
    if n == 4:
        break
    print(n)

1
2
3

In [38]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [39]:
for i in range(4):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****

In [40]:
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

In [41]:
students = ["Kamana", "Riya", "Sanu"]

for name in students:
    print("Student:", name)

Student: Kamana
Student: Riya
Student: Sanu

In [42]:
password = ""

while password != "admin123":
    password = input("Enter password: ")

print("Access granted")

Enter password:  12344
Enter password:  3456
Enter password:  admin123

Access granted

In [43]:
nums = [10, 20, 30, 40, 50]
total = 0

for n in nums:
    total += n

avg = total / len(nums)
print(avg)

30.0

In [44]:
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

In [45]:
nums = [1, 2, 3, 4, 5, 6, 8, 10]
count = 0

for n in nums:
    if n % 2 == 0:
        count += 1

print("Even count:", count)

Even count: 5

In [46]:
text = "Hello Python"
vowels = "aeiouAEIOU"
result = ""

for ch in text:
    if ch not in vowels:
        result += ch

print(result)

Hll Pythn

In [47]:
word = "KAMANA"

for i in range(len(word)):
    print(i, "=", word[i])

0 = K
1 = A
2 = M
3 = A
4 = N
5 = A

In [48]:
s = "Python"
rev = ""

for ch in s:
    rev = ch + rev

print(rev)

nohtyP

In [49]:
num = 48291
total = 0

while num > 0:
    digit = num % 10
    if digit % 2 == 0:
        total += digit
    num //= 10

print(total)

14

In [50]:
nums = [12, 7, 22, 4, 18]
small = nums[0]

for n in nums:
    if n < small:
        small = n

print("Smallest =", small)

Smallest = 4

In [51]:
text = "Hello My Name Is Kamana"
count = 0

for ch in text:
    if ch.isupper():
        count += 1

print(count)

5

In [52]:
text = "DataScience"
count = 0

for ch in text:
    if ch.islower():
        count += 1

print(count)

9

In [53]:
text = "ab12cd34"
result = ""

for ch in text:
    if ch.isdigit():
        result += ch

print(result)

1234

In [54]:
sentence = "I love data science"
count = 1

for ch in sentence:
    if ch == " ":
        count += 1

print("Words:", count)

Words: 4

In [55]:
for i in range(65, 69):
    for j in range(65, i+1):
        print(chr(j), end="")
    print()

A
AB
ABC
ABCD

In [56]:
nums = [1,2,3,2,4,5,1]
duplicates = []

for n in nums:
    if nums.count(n) > 1 and n not in duplicates:
        duplicates.append(n)

print("Duplicates:", duplicates)

Duplicates: [1, 2]

In [57]:
nums = [1,2,3,2,4,5,1]
unique = []

for n in nums:
    if n not in unique:
        unique.append(n)

print(unique)

[1, 2, 3, 4, 5]

In [58]:
num = 153
s = str(num)
length = len(s)

total = 0
for digit in s:
    total += int(digit) ** length

print("Armstrong" if total == num else "Not Armstrong")

Armstrong

In [59]:
nums = [1,2,3,4,5]
rev = []

for i in nums:
    rev = [i] + rev

print(rev)

[5, 4, 3, 2, 1]